<mat-divider></mat-divider>
<div class ='stepper'>
   <mat-vertical-stepper>
      <mat-step label = 'Dealer name'>
      </mat-step>
      <mat-step label = 'Address'>
      </mat-step>
      <mat-step label = 'GPS Location'>
      </mat-step>
      <mat-step label = 'Status'>
      </mat-step>
      <mat-step label = 'Comments'>
      </mat-step>
      <mat-step label = 'Confirm'>
      </mat-step>
      <mat-step label = 'Done'>
      </mat-step>
   </mat-vertical-stepper>
</div>
<mat-divider></mat-divider>