<mat-toolbar class = 'menu' color = 'primary'>
   <!-- Vehicles -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="vehicles">
         <mat-icon color = 'accent'>
            <i>local_shipping</i>
         </mat-icon>
         <span>
         Vehicles
         </span>
      </button>
      <mat-menu #vehicles="matMenu">
         <!-- Vehicles menu -->
         <button mat-menu-item routerLink = '/vehicles' [matMenuTriggerFor] = 'vehicles_sub_menu'>
            <mat-icon color = 'accent'>
               <i class="material-icons">local_shipping</i>
            </mat-icon>
            <span>
            Vehicles
            </span>
         </button>
         <!-- Vehicles submenu -->
         <mat-menu #vehicles_sub_menu = 'matMenu'>
            <button mat-menu-item routerLink = '/addvehicle'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new vehicle
               </span>
            </button>
            <button mat-menu-item routerLink = '/vehiclestable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build vehicles table
               </span>
            </button>
         </mat-menu>
         <!-- Projects menu -->
         <button mat-menu-item routerLink = '/projects' [matMenuTriggerFor] = 'projects_sub_menu'>
            <mat-icon color = 'accent'>
               <i class="material-icons">work</i>
            </mat-icon>
            <span>
            Projects
            </span>
         </button>
         <!-- Projects submenu -->
         <mat-menu #projects_sub_menu>
            <button mat-menu-item routerLink = '/addproject'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new project
               </span>
            </button>
            <button mat-menu-item routerLink = '/projectstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build projects table
               </span>
            </button>
         </mat-menu>
         <!-- Test-functions submenu -->
         <button mat-menu-item routerLink = '/testfunctions' [matMenuTriggerFor] = 'testfunctions_submenu'>
            <mat-icon color = 'accent'>
               <i>build</i>
            </mat-icon>
            <span>
            Testfunctions
            </span>
         </button>
         <mat-menu #testfunctions_submenu>
            <button mat-menu-item routerLink= '/addtestfunction'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new test-function
               </span>
            </button>
             <button mat-menu-item routerLink = '/testfunctionstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build test-functions table
               </span>
            </button>
            <button mat-menu-item>
               <mat-icon color = 'accent'>
                  <i>show_chart</i>
               </mat-icon>
               <span>
               Planning graph
               </span>
            </button>
         </mat-menu>
         <!-- Contracts menu -->
         <button mat-menu-item routerLink = '/contracts' [matMenuTriggerFor] = 'contracts_submenu'>
            <mat-icon color = 'accent'>
               <i class="material-icons">description</i>
            </mat-icon>
            <span>
            Contracts
            </span>
         </button>
         <mat-menu #contracts_submenu = 'matMenu'>
            <button mat-menu-item routerLink = '/addcontract'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a contract
               </span>
            </button>
            <button mat-menu-item routerLink = '/contractstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build contracts table
               </span>
            </button>
            <button mat-menu-item>
               <mat-icon color = 'accent'>
                  <i>archive</i>
               </mat-icon>
               <span>
               Archive a contract
               </span>
            </button>
            <button mat-menu-item>
               <mat-icon color = 'accent'>
                  <i>folder</i>
               </mat-icon>
               <span>
               Archived contracts
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item routerLink = '/dealers' [matMenuTriggerFor] = 'dealers_submenu'>
            <mat-icon color = 'accent'>
               <i class="material-icons">store_mall_directory</i>
            </mat-icon>
            <span>
            Dealers
            </span>
         </button>
         <mat-menu #dealers_submenu = 'matMenu'>
            <button mat-menu-item routerLink = '/adddealer'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a dealer
               </span>
            </button>
            <button mat-menu-item routerLink = '/dealerstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build dealers table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item routerLink = '/customers' [matMenuTriggerFor] = 'customers_submenu'>
            <mat-icon color = 'accent'>
               <i>people</i>
            </mat-icon>
            <span>
            Customers
            </span>
         </button>
         <mat-menu #customers_submenu>
            <button mat-menu-item routerLink = '/addcustomer'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a customer
               </span>
            </button>
            <button mat-menu-item routerLink = '/customerstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build customers table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item routerLink = '/drivers' [matMenuTriggerFor] = 'drivers_submenu'>
            <mat-icon color = 'accent'>
               <i>airline_seat_recline_normal</i>
            </mat-icon>
            <span>
            Drivers
            </span>
         </button>
         <mat-menu #drivers_submenu = 'matMenu'>
            <button mat-menu-item routerLink = '/adddriver'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a driver
               </span>
            </button>
            <button mat-menu-item routerLink = '/driverstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build drivers table
               </span>
            </button>
         </mat-menu>
      </mat-menu>
   </span>
   <!-- Software menu -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="software">
         <mat-icon color = 'accent'>
            <i>code</i>
         </mat-icon>
         <span>
         Software
         </span>
      </button>
      <mat-menu #software="matMenu">
         <!-- Vehicles software -->
         <button mat-menu-item [matMenuTriggerFor] = 'veh_soft_submenu'>
            <mat-icon color = 'accent'>
               <i>code</i>
            </mat-icon>
            <span>
            Vehicles Software
            </span>
         </button>
         <mat-menu #veh_soft_submenu = 'matMenu'>
            <button mat-menu-item routerLink = '/addsoftware'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new software
               </span>
            </button>
            <button mat-menu-item routerLink = '/vehsoftwaretable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build software table
               </span>
            </button>
         </mat-menu>
         <!-- Software validator -->
         <button mat-menu-item [matMenuTriggerFor] = 'soft_val_submenu'>
            <mat-icon color = 'accent'>
               <i>done</i>
            </mat-icon>
            <span>
            Software Validator
            </span>
         </button>
         <mat-menu #soft_val_submenu>
            <button mat-menu-item routerLink = 'addvalidator'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new validation
               </span>
            </button>
            <button mat-menu-item>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build validation table
               </span>
            </button>
         </mat-menu>
         <!-- ECUs -->
         <button mat-menu-item [matMenuTriggerFor] = 'ecu_submenu'>
            <mat-icon color = 'accent'>
               <i>computer</i>
            </mat-icon>
            <span>
            ECUs
            </span>
         </button>
         <mat-menu #ecu_submenu>
            <button mat-menu-item routerLink = '/addecu'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new ECU
               </span>
            </button>
            <button mat-menu-item routerLink = '/ecutable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build ECUs table
               </span>
            </button>
         </mat-menu>
      </mat-menu>
   </span>
   <!-- Error Codes menu -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="error">
         <mat-icon color = 'accent'>
            <i>error</i>
         </mat-icon>
         <span>
         Error Codes
         </span>
      </button>
      <mat-menu #error="matMenu">
         <button mat-menu-item [matMenuTriggerFor] = 'err_def_submenu'>
            <mat-icon color = 'accent'>
               <i>error</i>
            </mat-icon>
            <span>
            Error Definitions
            </span>
         </button>
         <mat-menu #err_def_submenu>
            <button mat-menu-item routerLink = '/adderror'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new error code
               </span>
            </button>
            <button mat-menu-item routerLink = '/errortable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build Error Codes Table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item routerLink = '/ecutable'>
            <mat-icon color = 'accent'>
               <i>computer</i>
            </mat-icon>
            <span>
            ECUs
            </span>
         </button>
      </mat-menu>
   </span>
   <!-- Notifications menu -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="notifications">
         <mat-icon color = 'accent'>
            <i>notifications</i>
         </mat-icon>
         <span>
         Notifications
         </span>
      </button>
      <mat-menu #notifications="matMenu">
         <button mat-menu-item [matMenuTriggerFor] = 'not_submenu'>
            <mat-icon color = 'accent'>
               <i>notification_important</i>
            </mat-icon>
            <span>
            Notification
            </span>
         </button>
         <mat-menu #not_submenu>
            <button mat-menu-item routerLink = '/addnotification'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new notification
               </span>
            </button>
            <button mat-menu-item routerLink = '/notificationtable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build notifications table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'logbook_submenu'>
            <mat-icon color = 'accent'>
               <i>book</i>
            </mat-icon>
            <span>
            Logbook
            </span>
         </button>
         <mat-menu #logbook_submenu>
            <button mat-menu-item routerLink = '/addlog'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new log
               </span>
            </button>
            <button mat-menu-item routerLink = '/logtable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Show the logbook
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'remarks_submenu'>
            <mat-icon color = 'accent'>
               <i>comment</i>
            </mat-icon>
            <span>
            Remarks
            </span>
         </button>
         <mat-menu #remarks_submenu>
            <button mat-menu-item routerLink = '/addremark'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new remark
               </span>
            </button>
            <button mat-menu-item routerLink = '/remarkstable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build remarks table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'tracks_submenu'>
            <mat-icon color = 'accent'>
               <i>location_on</i>
            </mat-icon>
            <span>
            Tracks
            </span>
         </button>
         <mat-menu #tracks_submenu>
            <button mat-menu-item routerLink = '/addtrack'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new track
               </span>
            </button>
            <button mat-menu-item routerLink = '/tracktable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build tracks table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'fracas_submenu'>
            <mat-icon color = 'accent'>
               <i>priority_high</i>
            </mat-icon>
            <span>
            Fracas
            </span>
         </button>
         <mat-menu #fracas_submenu>
            <button mat-menu-item routerLink = '/addfracas'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new FRACAS
               </span>
            </button>
            <button mat-menu-item routerLink = '/fracastable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build FRACAS Table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'ewarp_submenu'>
            <mat-icon color = 'accent'>
               <i>report_problem</i>
            </mat-icon>
            <span>
            eWarp
            </span>
         </button>
         <mat-menu #ewarp_submenu>
            <button mat-menu-item routerLink = '/addewarp'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new eWarp
               </span>
            </button>
            <button mat-menu-item routerLink = '/ewarptable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build eWarps table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'comb_not_submenu'>
            <mat-icon color = 'accent'>
               <i>group_work</i>
            </mat-icon>
            <span>
            Combined
            </span>
         </button>
         <mat-menu #comb_not_submenu>
            <button mat-menu-item routerLink = '/addcombined'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new combined notification
               </span>
            </button>
            <button mat-menu-item routerLink = '/combinedtable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build combined notifications table
               </span>
            </button>
         </mat-menu>
      </mat-menu>
   </span>
   <!-- Reports menu -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="reports">
         <mat-icon color = 'accent'>
            <i>report</i>
         </mat-icon>
         <span>
         Reports
         </span>
      </button>
      <mat-menu #reports="matMenu">
         <button mat-menu-item routerLink = '/reports'>
            <mat-icon color = 'accent'>
               <i>report</i>
            </mat-icon>
            <span>
            Reports
            </span>
         </button>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>show_chart</i>
            </mat-icon>
            <span>
            Mileage Graph by Test Function
            </span>
         </button>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>show_chart</i>
            </mat-icon>
            <span>
            MTBF Graph
            </span>
         </button>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>code</i>
            </mat-icon>
            <span>
            Proto software drilldown
            </span>
         </button>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>show_chart</i>
            </mat-icon>
            <span>
            Vehicle mileage graph
            </span>
         </button>
      </mat-menu>
   </span>
   <!-- Dataloggers menu -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="dataloggers">
         <mat-icon color = 'accent'>
            <i>track_changes</i>
         </mat-icon>
         <span>
         Data Loggers
         </span>
      </button>
      <mat-menu #dataloggers="matMenu">
         <button mat-menu-item [matMenuTriggerFor] = 'datalog_submenu'>
            <mat-icon color = 'accent'>
               <i>track_changes</i>
            </mat-icon>
            <span>
            Dataloggers
            </span>
         </button>
         <mat-menu #datalog_submenu>
            <button mat-menu-item routerLink = '/addlogger'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new datalogger
               </span>
            </button>
            <button mat-menu-item routerLink = '/loggertable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build dataloggers table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>update</i>
            </mat-icon>
            <span>
            Dataloggers status
            </span>
         </button>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>gps_fixed</i>
            </mat-icon>
            <span>
            Dataloggers Position
            </span>
         </button>
         <button mat-menu-item>
            <mat-icon color = 'accent'>
               <i>storage</i>
            </mat-icon>
            <span>
            Merge files
            </span>
         </button>
         <button mat-menu-item [matMenuTriggerFor] = 'cfcards_submenu'>
            <mat-icon color = 'accent'>
               <i>sd_storage</i>
            </mat-icon>
            <span>
            CF-Cards
            </span>
         </button>
         <mat-menu #cfcards_submenu>
            <button mat-menu-item routerLink = '/addcfcard'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new CF-Card
               </span>
            </button>
            <button mat-menu-item routerLink = '/cfcardtable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build CF-Cards table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'pcan_submenu'>
            <mat-icon color = 'accent'>
               <i>router</i>
            </mat-icon>
            <span>
            P-CAN Routers
            </span>
         </button>
         <mat-menu #pcan_submenu>
            <button mat-menu-item routerLink = '/addprouter'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a P-CAN router
               </span>
            </button>
            <button mat-menu-item routerLink = '/routertable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build P-CAN routers table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'cameras_submenu'>
            <mat-icon color = 'accent'>
               <i>camera</i>
            </mat-icon>
            <span>
            Cameras
            </span>
         </button>
         <mat-menu #cameras_submenu>
            <button mat-menu-item routerLink = '/addcamera'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new camera
               </span>
            </button>
            <button mat-menu-item routerLink = '/cameratable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build cameras table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'measurement_submenu'>
            <mat-icon color = 'accent'>
               <i>timeline</i>
            </mat-icon>
            <span>
            Measurements
            </span>
         </button>
         <mat-menu #measurement_submenu>
            <button mat-menu-item routerLink = '/addmsrmt'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new measurement
               </span>
            </button>
            <button mat-menu-item routerLink = '/msrmttable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build measurements table
               </span>
            </button>
         </mat-menu>
         <button mat-menu-item [matMenuTriggerFor] = 'sim_submenu'>
            <mat-icon color = 'accent'>
               <i>sim_card</i>
            </mat-icon>
            <span>
            Sim cards
            </span>
         </button>
         <mat-menu #sim_submenu>
            <button mat-menu-item routerLink = '/addsimcard'>
               <mat-icon color = 'accent'>
                  <i>add</i>
               </mat-icon>
               <span>
               Add a new SIM-card
               </span>
            </button>
            <button mat-menu-item routerLink = '/simcardtable'>
               <mat-icon color = 'accent'>
                  <i>search</i>
               </mat-icon>
               <span>
               Build SIM-cards table
               </span>
            </button>
         </mat-menu>
      </mat-menu>
   </span>
   <!-- Support menu -->
   <span class = 'menu-item'>
      <button  mat-button [matMenuTriggerFor]="support">
         <mat-icon color = 'accent'>
            <i>contact_support</i>
         </mat-icon>
         <span>
         Support
         </span>
      </button>
      <mat-menu #support="matMenu">
         <button mat-menu-item>
           <mat-icon color = 'accent'>
             <i>change_history</i>
           </mat-icon>
           <span>
                Version History
           </span>
           </button>
         <button mat-menu-item>
           <mat-icon color = 'accent'>
             <i>phone_android</i>
           </mat-icon>
           <span>
             DAVOB Mobile
           </span>
         </button>
         <button mat-menu-item>
           <mat-icon color = 'accent'>
             <i>folder</i>
           </mat-icon>
           <span>
             Data Container
           </span>
         </button>
         <button mat-menu-item [matMenuTriggerFor] = 'manuals'>
           <mat-icon color = 'accent'>
             <i>help</i>
           </mat-icon>
           <span>
             DAVOB Manuals
           </span>
         </button>
         <mat-menu #manuals = 'matMenu'>
           <button mat-menu-item>
             Manuals will go here
           </button>
         </mat-menu>
      </mat-menu>
   </span>
</mat-toolbar>